



<head>
    @Styles.Render("~/Content/template/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<div id="quill-toolbar1">

    @using (Ajax.BeginForm("Create", "Role", null, new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure"
    }, new { @class = "form-horizontal", id = "form", role = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="text" name="roleName" placeholder="Enter Role Name" class="form-control" />

        <div class="d-flex flex-wrap align-items-ceter justify-content-end mt-2">
            <input class="btn btn-primary" type="submit" value="Create Role" />
        </div>
    }
</div>
